{% extends 'main.html' %}

{% block content%}
    {% if page == 'login' %}
        <div>
            <form method="POST" action="">
                {% csrf_token %}

                <label>Username:</label>
                <input type="text" name="username" placeholder="Enter User">
                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter password">
                <input type="submit" value="Login">

                <p>Don't have account?</p>
                <a href="{% url 'register' %}">Register</a>

            </form>
        </div>
    {% else %}

        <div>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Register">
                <p>Already registered?</p>
                <a href="{% url 'login' %}">Login</a>
            </form>
        </div>

    {% endif %}

{% endblock %}